@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat:wght@200&family=Orbitron&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Roboto+Mono:ital,wght@1,300&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  font-family: "Source Sans Pro";
}
.container {
  width: 320px;
  height: 280px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.clock-container,
.digit-container,
.button-container {
  display: flex;
  justify-content: center;
}
#clock {
  font-size: 26px;
  font-weight: bold;
}
.input-container {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  margin: 18px 0 12px 0;
}
select {
  width: 88px;
  padding: 8px;
  border-radius: 3px;
  font-family: "Source Sans Pro";
  font-size: 14px;
}
#setAlarm {
  width: 85%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(80, 136, 221);
  color: white;
  word-spacing: 2px;
  border-radius: 3px;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.imageShake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
